* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto Condensed", sans-serif;
}

.header-top {
	height: 95px;
	background-color: #f72210;
	color: #fff;
	display: flex;
	align-items: flex-end;
}
.txt-left {
	text-align: left;
}
.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}
.txt-gray {
	color: gray;
}
.header-top h1 {
	font-family: "Alfa Slab One", cursive;
	font-size: 4rem;
	font-weight: 400;
}
.header-top-item p {
	height: 20px;
	font-weight: 700;
}
.header-top-item button {
	background: #fff;
	color: red;
	border: 0;
	padding: 4px 6px;
}
header .menu-icon{
	display:none;
}
.navbar-container {
}
.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid#d9d9d9;
}
.navbar > li {
	width: 9%;
	list-style: none;
	border-right: 1px solid#d9d9d9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-weight: 700;
	line-height: 24px;
	font-size: 20px;
}
.navbar .tech {
	width: 15%;
}
.navbar li:last-child {
	border: none;
}
.navbar li:last-child img {
	width: 30%;
	height: 30%;
	padding-left: 5px;
}
a,
a:hover {
	text-decoration: none;
	color: #000;
}
.navbar li a:hover {
	color: red;
}

.left {
	height: 1600px;
	border: none;
	overflow: hidden;
	overflow-x: hidden;
}
.child {
	height: 100%;
	margin-right: -50px;
	padding-right: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.middle {
	position: relative;
	height: 1600px;
	z-index: 1;
	background-color: #fff;
}
.right {
	position: relative;
	height: 1600px;
	overflow-x: hidden;
	border: none;
	overflow-x: hidden;
}

.article-image img {
	width: 100%;
}
.wrap {
	position: relative;
}
.category {
	padding: 8px 15px 9px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
}
.category a {
	color: #f72210;
}
.link {
	padding: 15px 0 10px 0;
	font-weight: 700;
}
.link a:hover {
	text-decoration: underline;
	text-decoration-color: #f72210;
}
.summary {
	margin-bottom: 13px;
}

.related {
	font-size: 16px;
	line-height: 20px;
	padding: 16px 0;
	margin-bottom: 30px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	font-weight: 700;
}
.related a:hover {
	color: #f72210;
}
.insight {
	border: 1px solid#d9d9d9;
	margin-bottom: 30px;
}
.insight .category a {
	color: #0b6fb1;
}
.story {
	border-top: 1px solid#d9d9d9;
	padding-top: 20px;
}
.story-link a:hover {
	text-decoration: underline;
	text-decoration-color: #f72210;
}
.story-link {
	font-weight: 700;
}
.opinion .article-image {
	width: 100%;
	height: 100%;
}
.opinion .article-image img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.opinion,
.news {
	font-size: 14px;
	border-bottom: 1px solid #d9d9d9;
	margin-top: 13px;
	padding-bottom: 13px;
}
.opinion-last,
.news-last {
	border-bottom: none;
}
.opinion-link {
	font-weight: 700;
}
.opinion-link a:hover {
	color: #f72210;
}
.opinion p {
	font-size: 13px;
}
.news-last {
	border-bottom: none;
	margin-bottom: 20px;
}

.newsletter {
	border: 1px solid #d9d9d9;
	margin: 20px 0;
}
.newsletter-top {
	display: flex;
	flex-direction: row;
}
.newsletter-top > span {
	display: inline-block;
	background-color: #f72210;
	padding: 2px 4px;
	margin-top: 10px;
	margin-bottom:3px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	width: 10%;
	height: 35px;
}
.newsletter-top > p {
	margin-left: 5px;
	width: 90%;
}
.signup > button {
	background: rgb(53, 51, 51);
	color: #fff;
	border: 0;
	padding: 10px;
}
.signup + h6 {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 700;
}

.mag-category {
	margin-top: 10px;
}
.mag-category a {
	color: #f72210;
}
.mag-category span {
	background-color: #f72210;
	color: #fff;
	padding: 5px 15px 9px;
}
.title {
	margin: 10px 0 20px 0;
}

.magazine-top .span-cont {
	padding: 5px 3px;
	border-right: 2px solid #f72210;

	border-bottom: 2px solid #f72210;
	border-bottom-width: -70%;
}
.magazine-top span {
	background-color: #f72210;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	width: 10%;
	padding: 3px 7px;
	height: 35px;
	margin: 1px;
}
.magazine-top > a {
	margin-left: 5px;
	width: 90%;
	font-weight: 700;
}
.cat {
	color: #f72210;
}
.subscribe {
	background-color: rgb(236, 233, 233);
}
.subscribe-btn {
	background: #f72210;
	color: #fff;
	border: 0;
	padding: 10px;
}
.subscribe-btn > span {
	font-size: 20px;
	font-weight: 700;
}
.footer-top {
	padding: 15px 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	margin: 15px 0;
}
.logo {
	font-family: "Alfa Slab One", cursive;
	font-weight: 300;
	font-size: 2rem;
	color: #f72210;
}
.footer-top p {
	margin-top: 10px;
}
footer ul {
	display: flex;
	flex-direction: row;
}
footer ul li {
	list-style: none;
	padding: 3px;
	border-right: 1px solid #d9d9d9;
}
footer ul li:last-child {
	border-right: none;
}
footer ul li a {
	color: rgb(104, 99, 99);
}

@media screen and (max-width: 766px) {
	header .menu-icon{
		display:inline;
	}
	.header-top {
		height: 50px;
	}
	.header-top .col-md-6 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.header-top .col-md-3 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.txt-left,
	.navbar-container {
		display: none;
	}
	.header-top h1 {
		font-family: "Alfa Slab One", cursive;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.txt-center {
		text-align: left;
	}

	.left {
		height: auto;
		border: none;
		overflow: scroll;
	}
	.child {
		height: 100%;
		margin-right: -50px;
		padding-right: 50px;
		overflow-y: scroll;
	}

	.middle {
		position: relative;
		height: auto;
	}
	.right {
		position: relative;
		height: auto;
		overflow: scroll;
		border: none;
	}

	main .col-md-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.story .col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.story .col-md-9 {
		flex: 0 0 73%;
		max-width: 73%;
	}
	.opinion .col-md-4 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.opinion .col-md-8 {
		flex: 0 0 73%;
		max-width: 73%;
	}
	.news .col-md-7 {
		margin-top: 15px;
	}

	.row .most-read {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row .offset-md-4 {
		margin-left: 0;
	}
	.row .most-read .news .col-md-4 {
		flex: 0 0 25%;
		max-width: 25%;
		height: 80px;
	}
	.row .most-read .news .col-md-8 {
		flex: 0 0 70%;
		max-width: 70%;
	}

	.row .subscribe {
		margin-bottom: 15px;
	}
	.row .subscribe .row:last-child .subscribe-btn-cont {
		margin-left: 45%;
		margin-bottom: 10px;
	}
	.subscribe .news .col-md-5 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.subscribe .news .col-md-7 {
		flex: 0 0 70%;
		max-width: 70%;
	}
	.subscribe .news .article-image {
		height: 150px;
	}
	.subscribe .news .article-image img {
		height: 100%;
		width: 100%;
	}

	.footer-top .logo {
		font-size: 1.5rem;
	}
	.footer-top img {
		height: 28px;
	}
	.middle {
		height: auto;
	}
}

/**  990px**/
@media screen and (min-width: 766px) and (max-width: 990px) {
	/*header {
		position:fixed;
		top:0;
		width: 100%;
		margin-bottom: 100px;
	}*/
	header .menu-icon{
		display:inline;
	}
	.header-top {
		height: 50px;
	}
	.txt-left,
	.navbar-container {
		display: none;
	}
	.header-top h1 {
		font-family: "Alfa Slab One", cursive;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.txt-center {
		text-align: left;
	}
	.txt-right p::after {
		content: "";
		width: 10px;
		height: 18px;
		background-color: blue;
		background-image: url(../images/menu.png);
		background-size: cover;
		margin-left: 10px;
	}

	/**Main**/

	.left {
		height: auto;
		border: none;
		overflow: scroll;
	}
	.child {
		height: 100%;
		margin-right: -50px;
		padding-right: 50px;
		overflow-y: scroll;
	}

	.middle {
		position: relative;
		height: auto;
	}
	.right {
		position: relative;
		height: auto;
		overflow: scroll;
		border: none;
	}

	.col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-6 {
		width: 50%;
	}
	.right {
		width: 100%;
	}
	.magazine .col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.story .col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.story .col-md-9 {
		flex: 0 0 73%;
		max-width: 73%;
	}
	.row .subscribe {
		flex: 0 0 100%;
		max-width: 100%;

		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		margin-bottom: 15px;
	}
	.row .subscribe .row:last-child .subscribe-btn-cont {
		margin-left: 45%;
		margin-bottom: 10px;
	}
	.subscribe .news .article-image {
		height: 150px;
	}
	.subscribe .news .article-image img {
		height: 100%;
		width: 100%;
	}
	.row .subscribe .row {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.row .subscribe .row:last-child {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row .most-read {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row .offset-md-4 {
		margin-left: 0;
	}
	.row .most-read .news .col-md-4 {
		flex: 0 0 15%;
		max-width: 15%;
		height: 70px;
	}
	.footer-top .logo {
		font-size: 1.5rem;
	}
	.footer-top img {
		height: 28px;
	}
}
